.container {
    /* padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.container ::-webkit-scrollbar {
    display: none;
}

.container h1 {
    width: 100%;
    position: absolute;
    top: 15vh;
    left: 0;
    text-align: center;
}

.items {
    height: 574px;
    padding-top: 5vh;
    padding-right: var(--padding-desktop-container-horizontal);
    display: flex;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
    margin: auto 0;
    transition: all 0.8s ease-in-out;
}

.item {
    position: relative;
    min-width: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    min-height: 220px;
    padding: 0 6px;
    /* height: fit-content; */

    /* display: flex;
    flex-direction: column; */
    gap: 17px;

    /* top: 90%; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    background-image: url('../../../assets/blur/blur-achievements.png'); */


}

.item:first-child {
    width: 420px;
    min-width: 420px;
    padding-left: var(--padding-desktop-container-horizontal);
}

.item h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    min-height: 80px;
}

.item p {
    color: rgba(255, 255, 255, 0.53);
}

.itemSelected:after {
    content: '';
    width: 800px;
    height: 700px;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* top: 90%; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-image: url('../../../assets/blur/blur-achievements.png');
    z-index: -1;
}

@media(max-width: 600px) {

    .container {
        flex-direction: column;
        gap: 0;

    }

    .container h1 {
        top: 20%;
        padding: 0 var(--padding-mobile-container-horizontal);
    }

    .items {
        padding-top: 20vh;
    }

    .item {
        min-width: 212px;
        width: 212px;
    }

    .item:first-child {
        min-width: 212px;
        width: 212px;
        padding-left: var(--padding-mobile-container-horizontal);
    }

    .item h2 {
        font-size: 24px;
        line-height: 120%;
        font-weight: 500;
    }

    .itemSelected:after {
        height: 675px;
    }


    .container h1 {
        text-align: center;
    }

}