.container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h1 {
    max-width: fit-content;
    margin: 0 auto;
}

.items {
    display: flex;
    gap: 12px;
    overflow: auto;
    flex-grow: 1;
    height: 600px;
}

.item {
    position: relative;
    padding-top: 5%;
    min-width: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.item h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
}

.item p {
    color: rgba(255, 255, 255, 0.53);
}

.blur {
    position: absolute;
    bottom: 45%;
    transform: scale(1.5);
    left: -30%;
    /* left: 0; */
    /* width: 1000px; */
}