.container {
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    height: 100%;
    padding-top: 15%;
    gap: 40px 10px;
    flex-wrap: wrap;
}


.reg {
    /* padding-left: var(--padding-desktop-container-horizontal); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    max-width: 850px;

    /* transition: all 0.5s;
    background-image: url('../../../assets/blur/blur-reg.png');
    background-repeat: no-repeat;
    background-position: -200px 2%; */
}

.blurChoice {
    width: 800px;
    height: 550px;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    left: -50%;
    background-image: url('../../../assets/blur/blur-reg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.5s;
    z-index: -1;
}

.right {
    left: 0%;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.choice {
    display: flex;
    position: relative;
    max-width: 556px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 11px;
}

.choiceItem {
    transition: background-color 0.3s ease-in-out;

}

.choice .chosenItem {
    color: rgba(0, 163, 255, 1);
    background-color: rgba(255, 255, 255, 1);
}

.choice .choiceItem:not(.chosenItem) {
    background-color: transparent;
}

.choiceItem input {
    width: 0;
    height: 0;
}

.text {
    max-width: 550px;
}

.textSearcher, .textValidator {
    transition: all 0.3s ease-in-out;
}

.forms {
    /* transition: all 0.3s ease-in-out; */
    max-width: 506px;
    flex-grow: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
    /* margin: 0 auto; */
}

.formContainer {
    top: 0;
    height: 0;
    position: relative;
    flex-direction: column;
    visibility: hidden;
    display: flex;
    gap: 32px;
    opacity: 0.55;
    transition: opacity 0.3s ease-in-out;
}

.show {
    height: auto;
    visibility: visible;
    opacity: 1;
}

@media(max-width: 600px) {

    .container {
        flex-direction: column;
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
        gap: 10px;
        padding-top: 100px;

    }

    .reg {
        gap: 8px;
        flex-grow: 0;
    }

    .reg h1 {
        width: 100%;
        text-align: left;
    }


    .blurChoice {
        height: 300px;
        left: -100%;
    }

    .right {
        left: -50%;
    }

    .formContainer {
        gap: 10px;
    }




}


/* @keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */