.container {
    display: flex;
    padding-top: 20%;
    justify-content: space-between;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
}

.choose {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    max-width: 506px;
}

.formContainer {
    display: none;
    flex-direction: column;
    gap: 32px;
}

.choice {
    width: fit-content;
    display: flex;
    padding: 4px;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 11px;
}



.choiceItem {
    user-select: none;
    font-size: 24px;
    font-weight: 500;
    padding: 26px 90px;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    /* opacity: 0; */
}

.choiceItem:has(input:checked) {
    color: rgba(0, 163, 255, 1);
    background: rgba(255, 255, 255, 1);
}

.choiceItem input {
    width: 0;
    height: 0;
}

.text {
    display: none;
}

.container:has(input[id='Validator']:checked) .validatorForm, .container:has(input[id='Validator']:checked) .textValidator {
    display: flex;
}

.container:has(input[id='Searcher']:checked) .searcherForm, .container:has(input[id='Searcher']:checked) .textSearcher {
    display: flex;
}

.forms {
    max-width: 506px;
    flex-grow: 1;
}