.container {
    padding: 50px;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    display: flex;
    justify-content: space-between;
}

.menuList {}


.listItemTitle {
    margin-bottom: 12px;
}

.listItem a {
    color: rgba(255, 255, 255, 0.66);
}

.container nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 400px;
}

.container ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.additionals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.37);
}

.additionals p {
    font-size: 18px;
}


@media(max-width: 600px) {
    .container {
        padding: 30px;
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
        flex-direction: column;
        gap: 28px;
    }

    .container nav {
        flex-direction: column;
        gap: 32px;
    }

    .additionals {
        align-items: center;
        gap: 8px;
    }
}