.welcome {
    background-image: url('../../assets/blur/blur1.png'), url('../../assets/blur/blur2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: auto, 55%;
}


.aboutUs {
    /* background-image: url('../../assets/blur/blur3.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%; */

    /* Group 14 */


    /* Group 17 */
    /* mix-blend-mode: color-burn; */

    /* background-image: url('../../assets/blur/blur3-mask.png'), url('../../assets/blur/blur-mask-about-us2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top right;
    background-size: auto, 100%;
    background-blend-mode: color-burn; */

}

.aboutUs:before {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transform: rotate(-10deg);
    background-image: url('../../assets/blur/blur-mask-about-us.png');
    filter: blur(45px)contrast(10);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

}

.aboutUsMore {
    /* background-image: url('../../assets/blur/blur-mask-group-about-us.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.adminPanel {
    background-image: url('../../assets/blur/blur-admin-panel.png'), url('../../assets/admin-panel.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right;
    background-size: auto, auto;
}

.docs {
    background-image: url('../../assets/blur/blur-documentation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reg {
    /* background-image: url('../../assets/blur/blur-reg.png');
    background-repeat: no-repeat;
    background-position: left; */
}

.roadmap {
    background-image: url('../../assets/blur/blur-admin-panel.png');
    background-repeat: no-repeat;
    background-position: -20% -20%;
}


/* .profit {
    background-image: url('../../assets/blur/blur-profit-2.png');
    background-repeat: no-repeat;
    background-position: left;
}

.profitSecondStep {
    background: rgba(0, 0, 255, 0.41);
    background-image: url('../../assets/blur/blur-profit-2.png');
    background-repeat: no-repeat;
    background-position: left;
} */


@media(max-width: 391px) {
    .welcome {
        background-image: url('../../assets/blur/blur1-mobile.png'), url('../../assets/blur/blur2.png');
        background-size: auto, auto;
        background-position: top right, 80% -200%;
    }

    .adminPanel {
        background-position: 0 0, 50% 90%;
        background-size: auto, 450px 300px;

    }

    .roadmap {
        background-position: center -15vh;
    }

}