.welcome {
    background-image:
        url('../../assets/blur/blur1.png'),
        url('../../assets/blur/blur2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: auto, 55%;
}

.welcome:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    content: '';
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(7, 8, 32, 0.3) 50%,
            rgba(7, 8, 32, 1) 100%);
}


.keyFeatures {
    overflow: hidden;
}
 
.aboutUsMore:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    content: '';
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(7, 8, 32, 0.1) 25%,
            rgba(7, 8, 32, 0.8) 80%,
            rgba(7, 8, 32, 1) 100%);
}

.ourVision:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    content: '';
    background-image: var(--gradient-slide-bottom);
}

.aboutUs:before {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transform: rotate(-10deg);
    background-image: url('../../assets/blur/blur-mask-about-us.png');
    filter: blur(45px)contrast(10);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

}

.aboutUsMore {
    display: block !important;
    height: 200vh !important;
    position: relative;
    /* background-image: url('../../assets/blur/blur-mask-group-about-us.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.adminPanel {
    background-image: url('../../assets/blur/blur-admin-panel.png'), url('../../assets/admin-panel.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 50%, right;
    background-size: auto, auto;
}

.docs {
    background-image: url('../../assets/blur/blur-documentation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.docs:before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 200px;
    content: '';
    background-image: var(--gradient-slide-top);
}

.docs:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    content: '';
    background-image: var(--gradient-slide-bottom);
}

.reg {
    /* background-image: url('../../assets/blur/blur-reg.png');
    background-repeat: no-repeat;
    background-position: left; */
    overflow: hidden;
}

.roadmap {
    background-image: url('../../assets/blur/blur-admin-panel.png');
    background-repeat: no-repeat;
    background-position: -10% -10%;
}

.profit {
    min-height: 100vh !important;
    height: auto !important;
}

.profit:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    content: '';
    background-image: var(--gradient-slide-top);
}

.profit:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    content: '';
    background-image: var(--gradient-slide-bottom);
}

.achievements {
    display: block !important;
    height: 200vh !important;
}

/* .profit {
    background-image: url('../../assets/blur/blur-profit-2.png');
    background-repeat: no-repeat;
    background-position: left;
}

.profitSecondStep {
    background: rgba(0, 0, 255, 0.41);
    background-image: url('../../assets/blur/blur-profit-2.png');
    background-repeat: no-repeat;
    background-position: left;
} */


@media(max-width: 600px) {
    .welcome {
        background-image: url('../../assets/blur/blur1-mobile.png'), url('../../assets/blur/blur2.png');
        background-size: auto, auto;
        background-position: top right, 100% 100%;
    }

    .adminPanel {
        background-position: -200px 0, 50% 90%;
        background-size: auto, 450px 300px;

    }

    .roadmap {
        background-position: center -15vh;
    }

}