.container {
    max-width: 1440px;
    width: 100%;
    z-index: 1;
    display: flex;
    padding: 40px 90px 0;
    position: relative;
    justify-content: space-between;
    position: fixed;
}

.container a, .container button {
    font-size: 24px;
    white-space: nowrap;
}

.list {
    display: flex;
    gap: 34px;
    align-items: center;
    min-height: 50px;
}

.blur {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.logo {
    margin-left: 10%;
}