.container {
    max-width: 1440px;
    min-width: 100%;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    padding: 0;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    margin-top: 40px;
    justify-content: space-between;
    position: fixed;

}

.container a, .container button {
    font-size: 20px;
    white-space: nowrap;
}

.list {
    display: flex;
    gap: 34px;
    align-items: center;
    min-height: 50px;
}

.blur {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.logo {
    margin-left: 10%;
}

.mobileMenuButton {
    display: none;
    align-items: center;
    justify-content: center;
}

.headerMenu {}

.menuMobileLayout {
    display: flex;
    flex-direction: column;
    gap: 42px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(4, 9, 33, 1);
    padding: 26px 26px 0 26px;
}


.menuListMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px
}

.logoSmall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rightPanel {
    display: flex;
    align-items: center;
}

.logoNamed {
    transition: opacity 0.2s;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.logoNamedAppear {
    /* transform: translate(-50%, -50%) scale(1); */
    transition: opacity 1.9s;

    opacity: 1;
}

@media(max-width: 600px) {
    .container {
        /* display: none; */
        height: 70px;
        padding: 0 26px 0 26px;
        margin-top: 16px;
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
    }

    .container .list, .container .rightPanel {
        display: none;
    }

    .containerMobile {
        display: flex;
    }

    .mobileMenuButton {
        display: flex;
    }
}