.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.container-big {
    font-size: 24px;
}

.container-big .wrapper {
    height: 75px;
}

.container label {
    padding-left: 20px;
}

.wrapper {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    align-items: center;
    padding-right: 20px;
}

.wrapper input {
    background: transparent;
    border: none;
    padding: 12px 10px 12px 20px;
    color: #fff;
    outline: none;
    flex-grow: 1;
}

.wrapper button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 600px) {
    .container-big {
        gap: 5px;
    }
}