.text {
    padding-top: unset;
    margin-right: 10%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 43px;
    font-size: 36px;
    width: 600px;
}

.container {
    margin: 0 auto;
    padding-top: unset;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container img {
    position: absolute;
}