.container {
    /* margin-top: 10%; */
    position: relative;
    height: 445px;
    overflow: hidden;

}

.inner {
    padding-top: 30vh;
    max-width: 95%;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    display: flex;
    justify-content: space-between;
}


.text {
    padding-top: unset;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 35px;
    margin-top: 8px;
    font-size: 28px;
    width: 600px;

}

.container img {
    position: absolute;
}

.videoContainer {
    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.2;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* width: 100%; */
}

@media(max-width: 600px) {
    .container {
        height: 100%;
    }


    .inner {
        gap: 25px;
        max-width: 100%;
        flex-direction: column;
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
    }

    .text {
        font-size: 16px;
        line-height: 19px;
        width: auto;
        max-width: 97%;
    }

    .videoContainer {
        top: 0;
    }

    .video {
        max-width: 1500px;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
    }

}