.container {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center; */
    height: 100%;
    padding-top: 15%;
    gap: 40px;
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    /* transition: background-color 0.5s, background-image 0.5s; */

    background-color: rgba(0, 0, 255, 0.02);
    background-image: url('../../../assets/blur/blur-profit-2.png');
    background-repeat: no-repeat;
    background-position: left;

}

.container-step-2 {
    background-color: rgba(0, 0, 255, 0.25);
    /* background-image: url('../../assets/blur/blur-profit-2.png'); */
    background-repeat: no-repeat;
    background-position: left;
}

.container-step-3 {
    background-color: rgba(29, 83, 137, 0.722);
    /* background-image: url('../../assets/blur/blur-profit-2.png'); */
    background-repeat: no-repeat;
    background-position: left;
}

.container-step-2 .result .opacityText, .container-step-3 .result .opacityText {
    color: rgba(255, 255, 255, 0.4);
}

.container-step-2 .result p, .container-step-3 .result p {
    color: #fff;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 52px;
    line-height: 63px;
}

.text {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.content {
    display: flex;
    gap: 60px;
}

.result {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.result p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 32px;
}

.result .opacityText {
    color: rgba(255, 255, 255, 0.15);
}

.result .willReceive {
    font-size: 24px;
}



.inputContainer {
    max-width: 506px;
    flex-grow: 1;
}

.regButton {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 506px;
    flex-grow: 1;
}

.regButton button {
    width: 100%;
}


@media(max-width: 391px) {
    .header {
        gap: 15px;
        padding-top: 60px;
        max-width: 68%;
        margin: 0 auto;
    }


    .header p, .header h1 {
        text-align: center;
    }

    .container h1 {
        font-size: 36px;
        line-height: 120%;
    }

    .container {
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
        gap: 24px;
    }

    .content {
        flex-direction: column;
        gap: 0;
    }

    .result {
        margin-top: 15px;
    }

    .result .willReceive {
        font-size: 16px;
    }

    .result p {
        flex-wrap: nowrap;
        font-size: 24px;
    }

    .spoiler {
        width: 47px;
        height: 18px;
    }

    .regButton {
        align-items: flex-end;
        padding-bottom: 50px;
    }


}