.container {
    padding-left: var(--padding-desktop-container-horizontal);
    padding-right: var(--padding-desktop-container-horizontal);
    padding-top: 20vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
    flex-grow: 1;
    overflow: hidden;


    /* height: 100vh; */
}

.titleContainer {
    font-size: 60px;
    position: relative;
}

.container p {
    transition: opacity 0.25s;
}

.container h1 {
    transition: transform 0.2s ease-in-out, font-size 0.2s;
}

.container h2 {
    width: fit-content;
}



.aboutStepOne {
    max-width: 800px;
}

.aboutStepOneText {
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20vh;
    font-size: 22px;
}

.background {
    background-image: url('../../../assets/blur/blur3-mask.png');
    /* background-image: url('../../../assets/blur/blur-mask-group-about-us.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: color-burn;
    background-blend-mode: color-burn;

}

.text {
    padding-top: unset;
    margin-right: 10%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 43px;
    font-size: 36px;
    width: 600px;
}

.container .aboutItem {
    cursor: pointer;
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
}

.links {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.info {
    max-width: 710px;
    font-weight: 400;
    font-size: 30px;
    margin-left: auto;
}

.link {
    color: #fff;
}

.unselected {
    color: rgba(255, 255, 255, 0.44);
}

.selectedLink {
    color: #fff;
    text-decoration: underline;
    position: relative;
}

.selectedLink:after {
    content: '';
    background: url('../../../assets/blur/blur-text-choice.png') center no-repeat;
    position: absolute;
    top: -30%;
    width: 100px;
    height: 100px;
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;

}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
}

.videoContainer video {
    height: 100%;
    width: 100%;
    object-fit: fill
}

@media(max-width: 600px) {
    .container {
        padding-left: var(--padding-mobile-container-horizontal);
        padding-right: var(--padding-mobile-container-horizontal);
        flex-direction: column-reverse;
        /* padding-top: 110px; */
        gap: 40px;
    }

    .container .aboutItem {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    .links {
        margin-bottom: auto;
        margin-top: unset;
    }

    .info {
        font-size: 16px;
        line-height: 120%;
        margin: auto 0;
    }

    .aboutStepOneText {
        order: 1;
    }

    .selectedLink:after {
        width: 40px;
        height: 40px;
        background: url('../../../assets/blur/blur-text-choice-mobile.png') center no-repeat;
        position: absolute;
    }

    .videoContainer video {
        max-width: 1440px;
        width: 1440px;
    }

    .aboutStepOneText {
        font-size: inherit;
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}