.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    position: relative;
}

.inner {
    height: fit-content;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 38px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.inner.mobile {
    display: none;
}

.brand {
    font-size: 60px;
}

.brandContainer {
    position: relative;
    flex-grow: 1;
    max-width: 330px;
}

.logo {
    transition: all 0.3s ease-in-out, opacity 2s ease-in;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    bottom: 95px;
}

.info span {
    white-space: nowrap;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.bottom {
    width: 100%;
    display: flex;
    padding: 0 7%;
    /* margin-bottom: 10%; */
}

.blur2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.blur {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.brandContainerMobile {
    display: none;
}

/* .brandContainerDesktop {
    display: flex;
} */

@media(max-width: 600px) {
    .inner {
        display: none;
    }

    .inner.mobile {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }


    .brandContainer {
        display: flex;
        flex-grow: 0;
        align-items: center;
        gap: 17px;
    }

    .logoContainer {
        gap: 17px;
    }

    .brand {
        font-size: 36px;
    }

    .infoBrand {
        display: none;
    }

    .bottom {
        padding: 0 15%;
        position: relative;
        top: -40px;
    }

    .bottom p {
        display: inline-block;
        text-align: center;
    }

}